<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ticketSolder.model.dao.mysql.SearchDao">

    <select id="search" resultType="com.ticketSolder.model.domain.mysql.SearchResultUnit">
        SELECT
        TI.trainName          as trainName,
        TI.isFast             as fast,
        S.${startStation}     as startTime,
        S.${endStation}       as endTime,
        least (
        <foreach collection="segments" item="segment" index="index" separator=",">
            TA.${segment}
        </foreach>
        , 1001)               as ticketsLeft
        FROM traininfo as TI, ticketamount as TA,
        <if test="fast == false">
            slowschedule as S
        </if>
        <if test="fast == true">
            fastschedule as S
        </if>
        WHERE TI.trainID = TA.trainID
        AND TI.trainID = S.trainID
        <if test="fast == false">
            AND TI.isFast = FALSE
        </if>
        <if test="fast == true">
            AND TI.isFast = TRUE
        </if>
        AND TA.canceled = FALSE
        AND TI.direction = #{direction}
        <if test="exactly == true">
            AND S.${startStation} = #{startTime}
        </if>
        <if test="exactly == false">
            AND S.${startStation} > #{startTime}
        </if>
        AND TA.date = #{startDate}
        <foreach collection="segments" item="segment" index="index" separator=" ">
            AND TA.${segment} > 0
        </foreach>
    </select>

</mapper>