<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ticketSolder.model.dao.mysql.UserDao">

    <sql id="Base_Column_List">
        userName, password
    </sql>

    <insert id="createUser" parameterType="string">
        INSERT INTO user (userName, password, email)
        VALUES (#{userName}, #{password}, #{email});
    </insert>

    <select id="searchUser" parameterType="string" resultType="com.ticketSolder.model.domain.mysql.UserInfo">
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        WHERE userName = #{userName}
        AND password = #{password}
    </select>

    <select id="searchUserByName" parameterType="string" resultType="com.ticketSolder.model.domain.mysql.UserInfo">
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        WHERE userName = #{userName}
    </select>

    <select id="getEmailByName" resultType="string">
        SELECT email
        FROM user
        WHERE userName = #{userName};
    </select>

    <delete id="deleteAllUsers">
        delete from user;
    </delete>

</mapper>
